.flipped-map {
    display: none;
    width: auto;
    padding: 0;
    background: linear-gradient(
        180deg,
        #2b2b2b 0%,
        #3a3a3a 60%,
        #262626 100%
    );
    border-radius: 0.375rem;
}

.flipped-field {
    height: 600px;
    width: 350px;
    background-color: var(--color-white);
    border-radius: 180px 0 0 180px;
    color: var(--color-gray);
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.flipped-food-table {
    height: 50px;
    width: 150px;
    background-color: transparent;
    color: var(--color-white);
    pointer-events: none;
}

.flipped-logistics-table {
    height: 100px;
    width: 50px;
    pointer-events: none;
    background-color: var(--color-orange);
    color: var(--color-white);
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.flipped-stand {
    background-color: var(--color-blue);
    color: var(--color-white);
    transition: all 0.3s;
    height: 100px;
    width: 50px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.flipped-stand.ocuppied-stand {
    background-color: var(--ocuppied);
    pointer-events: none;
}

.flipped-stand:hover {
    cursor: pointer;
    background-color: var(--color-white);
    color: var(--color-gray);
}

.flipped-stand.selected-stand {
    background-color: #1E3FFF !important; 
    color: white !important;
    box-shadow: 
        0 0 10px rgba(1,37,220,0.6),
        0 0 20px rgba(1,37,220,0.4),
        0 0 30px rgba(1,37,220,0.2);
    pointer-events: all;
}

.flipped-entrance {
    background-color: var(--color-white);
    width: 50px;
    height: 90px;
    border-radius: 0 0.375rem 0.375rem 0;
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.flipped-offset-table {
    height: 50px;
    width: 10px;
}

@media (min-width: 576px) {
    .flipped-map {
        max-width: 1200px !important;
    }
}