@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

body {
    font-family:'Ubuntu', sans-serif;
    background: linear-gradient(45deg, #000000 0%, #000000 50%, #0125DC 100%);
    background-size: 200% 200%;
    animation: fluctuate 12s ease-in-out infinite;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}


@keyframes fluctuate {
    0%   { background-position: 0% 50%; }
    50%  { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.top-bar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.top-logo {
    height: 80px;
}

.center-logo{
    height: 50px;
    margin-top: 20px;
}

.middle {
    flex: 1;
    margin-bottom:100px;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-bottom: 100px
}

.soon-text {
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    font-weight:500;
    color: #2846DB;
    text-align: center;
    animation: fadeLoop 1.9s ease-in-out infinite;
}

@keyframes fadeLoop {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

.sticker-container {
    position: relative;
    width: 600px;  
    height: 400px; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible; 
}

.sticker {
    position: absolute;
    width: 250px;
    opacity: 0;
    
    transform: translate(var(--x), var(--y)) rotate(var(--r));
    
    transition: opacity 0.8s ease-in-out;
    
    user-select: none;
    pointer-events: none; 
}

.sticker.visible {
    opacity: 1;
    transform: translate(var(--x), var(--y)) rotate(var(--r));
}
